body {
    text-align: center; 
    
  
}

/* .input-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.11fr 0.5fr 0.11fr 0.5fr;
    gap: 5px;
    width: 50%;
    margin: 0 auto;
} */

.weekday-input {
    text-align: center;
    width: 2%;
    margin-right: 30px;
}

input {
    font-size: 1rem;
    /* height: 30px;
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
}

button {
    font-size: 1rem;
   
    padding: 5px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}

button:hover {
    background-color: grey;
    color: white;
    transition: background-color 0.3s ease;
}

.directory-input {
    padding: 5px 20px;
    width: 18%;
}

.month-input {
    font-size: 1rem;
    margin: 10px;
    width: 30%;
    height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.time-input {
    margin-right: 10px;
}

h1 {
    
    font-size: 2rem;
}